*{box-sizing: border-box;}

header.bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
    padding: 30px 115px;
    display: flex;
}
header.bar span{
    text-align: center;
}