* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#912f3f*/

/* Style for the topbar */
 .topbar {
  background-color: #6e2b3f;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

/* Style for the logo */
.logo {
  font-size: 24px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
}

#background{
  width: 100%;
  min-height: 100vh;
  background-image: url("images/imgbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 8%;
  } 

/* Style for the navigation */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.navigation li {
  display: inline;
  margin-left: 20px;
}

.nav li a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.nav li a:hover{
  color: red;
  transform: scale(1.1);
}
.nav li a:before{
  content: "";
  position: absolute;
  width: 84%;
  height: 2px;
  bottom: 3px;
  left: 8%;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav li a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}